<section>
    <div class="d-flex justify-content-center align-items-center mt-5 mb-5 ms-4">
        <img src="../../../assets/img/star-4.png" alt="" class="star__proyect pe-1">
        <h2 class="text-center fw-bold">Proyectos</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-5 mx-5 card__proyect">
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/proyectoUno.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title title">CarrotBaby</h5>
                    <p class="card-text"><i class="bi bi-star-fill text-light "></i> Página web estática, bajo concepto de e-commerce sobre asesorías de nutrición infantil. Realizado para mi primer curso de Desarrollo Web (Sept. 2021)</p>
                    <a href="https://gissellelaporta.github.io/mi_repositorio/" class="btn card-link text-light py-0 btn__card" target="_blank">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/proyectoDos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title title title--dos">Deshojando Margaritas</h5>
                    <p class="card-text"><i class="bi bi-star-fill text-light "></i> E-commerce de accesorios y bijouterie. Realizado para un emprendimiento real en conjunto con otro desarrollador web y diseñadores UX (Dic. 2021)</p>
                    <a href="https://gissellelaporta.github.io/DeshojandoMargaritas-1/" class="btn card-link text-light py-0 btn__card" target="_blank">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/proyectoTres.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title title">Furiosa</h5>
                    <p class="card-text"><i class="bi bi-star-fill text-light "></i> E-commerce de indumentaria, con emulación de carrito de compras. Desarrollado para el curso de JavaScript (Jun. 2022) </p>
                    <a href="https://gissellelaporta.github.io/primerproyecto_js/" class="btn card-link text-light py-0 btn__card" target="_blank">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/proyectoCuatro.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title title">Mi Portfolio</h5>
                    <p class="card-text"><i class="bi bi-star-fill text-light "></i> Desarrollo de mi portafolio, para el curso de Full Stack Developer Jr. (Ene. 2023)</p>
                    <a href="#" class="btn card-link text-light py-0 btn__card" target="_blank">Ver</a>
                </div>
            </div>
        </div>
    </div>
</section>
