<section class="experience">
    <div class="d-flex justify-content-center align-items-center mt-5 mb-3 me-5">
        <img src="../../../assets/img/cometa.png" alt="cometa" class="cometa">
        <h2 class="text-center fw-bold">Experiencia</h2>
    </div>
    <div class="container grid__experience">
        <div class="row img__experience">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/img/logoOsde.png" alt="logo Osde" class="img-fluid mt-5 logo__osde">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 col-xl-4 p-0">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/img/logoManpower.png" alt="logo Manpower" class="img-fluid m-5 logo__manpower">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/img/logoMercantil.png" alt="logo Banco Mercantil" class="img-fluid m-4 logo__mercantil">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex flex-column align-items-center">
                <p class="mt-4 mb-0 fw-bold title">OSDE BINARIO</p>
                <p class="m-0 fw-bold">Operadora de Emergencias</p>
                <p class="m-0">Agosto 2018 – Junio 2019</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 col-xl-4 d-flex flex-column align-items-center">
                <p class="mt-4 mb-0 fw-bold title">MANPOWER</p>
                <p class="m-0 fw-bold">Azafata de Sucursal</p>
                <p class="m-0">para Banco Columbia</p>
                <p class="m-0">Marzo 2018 - Julio 2018</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex flex-column align-items-center">
                    <p class="mt-4 mb-0 fw-bold title">MERCANTIL BANCO UNIVERSAL</p>
                    <p class="m-0 fw-bold">Asistente Secretaría de la Junta</p>
                    <p class="m-0">Agosto  2007 - Diciembre 2017</p>
                    <p class="m-0 fw-bold">Analista de Recursos Humanos</p>
                    <p class="m-0">Septiembre 2004 - Agosto 2007</p>
            </div>
        </div>
    </div>
</section>