<section>
            <div class="d-flex justify-content-center align-items-center mt-5 mb-3 me-5">
                <img src="../../../assets/img/star-3.png" alt="estrella" class="ms-5 star__edu">
                <h2 class="text-center fw-bold pt-3">Educación</h2>
            </div>
            <div class="container mt-2 grid__education">
                <div class="row mt-5 mb-5">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-0">
                        <div class="d-flex justify-content-center ms-5 ps-5 grid__education--img">
                            <img src="../../../assets/img/logoAP.png" alt="logo Argentina Programa" class="logo__AP">
                        </div>
                        <div class="text-center">
                            <p class="ms-5 mb-0 ps-5 fw-bold grid__education--p title"><i class="bi bi-star-fill text-light "></i> DESARROLLADOR WEB FULL STACK JR. </p>
                            <p class="ms-5 ps-5 grid__education--p"> Junio 2022 - Enero 2023</p>
                            <p class="ms-5 mb-0 ps-5 fw-bold grid__education--p title"><i class="bi bi-star-fill text-light "></i> FUNDAMENTOS DE LA PROGRAMACIÓN</p>
                            <p class="ms-5 ps-5 grid__education--p"> Marzo - Mayo 2022</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-0">
                        <div class="d-flex justify-content-center mt-4 mb-4 ms-5 ps-5 grid__education--img">
                            <img src="../../../assets/img/logoCH.png" alt="logo CoderHouse" class="logo__coder">
                        </div>
                        <div class="text-center">
                            <p class="ms-5 mb-0 ps-5 fw-bold grid__education--p title"><i class="bi bi-star-fill text-light "></i> JAVASCRIPT</p>
                            <p class="ms-5 ps-5 grid__education--p"> Marzo - Junio 2022</p>
                            <p class="ms-5 mb-0 ps-5 fw-bold grid__education--p title"><i class="bi bi-star-fill text-light "></i> DESARROLLADOR WEB </p>
                            <p class="ms-5 ps-5 grid__education--p"> Julio - Septiembre 2021</p>
                        </div>
                    </div>
                </div>
            </div>
</section>
