<header class="header">
    <nav class="header header__banner">
        <nav class="navbar navbar-expand-lg py-0 header header__nav">
            <div class="container-fluid justify-content-between">
                <div class="header header__logo">
                    <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt="logo" class="img-fluid my-3 header__logo--img"></a>
                </div>
                <div class="header header__logo">
                    <a class="navbar-brand" href="#"><img src="../../../assets/img/logoAP.png" alt="logo Argentina Programa" class="img-fluid my-3 header__logo--img"></a>
                </div>
                <div class="header header__logo">
                    <a class="navbar-brand" href="https://github.com/gissellelaporta" target="_blank"><img src="../../../assets/img/logoGithub.png" alt="enlace GitHub" class="img-fluid my-3 header__logo--icon"></a>
                    <a class="navbar-brand" href="https://www.linkedin.com/in/gissellelaporta/" target="_blank"><img src="../../../assets/img/logoLinkedin.png" alt="enlace Linkedin" class="img-fluid my-3 header__logo--icon"></a>
                    <button type="button" class="btn fw-bold btn__login">Login</button>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row header__div">
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 col-xl-2 ms-5 text-end text-light header__name">
                    <p class="fs-3 mb-1 parrafos"> ¡Hola!, soy </p>
                    <h1 class="fs-1 fw-bold fst-italic m-0 parrafos"> GISSELLE LA PORTA</h1>
                    <p class="fs-3 mb-1 parrafos">y soy</p>
                    <h2 class="fs-2 fw-bold fst-italic parrafos"> Full Stack Developer Jr. </h2>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">

                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div>
                        <img src="../../../assets/img/imgBanner.jpg" alt="Mi foto" class="img-fluid header__img">
                    </div>
                    <div>
                        <img src="../../../assets/img/moon.png" alt="" class="img-fluid text-end moon">
                        <img src="../../../assets/img/starTwo.png" alt="" class="img-fluid star__header">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
