<section class="mt-5">
    <div class="d-flex justify-content-center align-items-center mt-5 mb-3 ms-5">
        <img src="../../../assets/img/urano.png" alt="" class="urano pe-2">
        <h2 class="text-center fw-bold">Habilidades</h2>
    </div>
    <div class="container d-flex flex-column justify-content-center mt-5 grid__habilities">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <p class="fw-bold"><i class="bi bi-filetype-html fs-5"></i>  HTML</p>
            </div>
            <div class="col pt-2">
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <p class="fw-bold"><i class="bi bi-filetype-css fs-5"></i>  CSS</p>
            </div>
            <div class="col pt-2">
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <p class="fw-bold"><i class="bi bi-filetype-sass fs-5"></i>  SASS</p>
            </div>
            <div class="col pt-2">
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <p class="fw-bold"><i class="bi bi-bootstrap fs-5"></i>  Bootstrap</p>
            </div>
            <div class="col pt-2">
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <p class="fw-bold"><i class="bi bi-filetype-js fs-5"></i>  JavaScript</p>
            </div>
            <div class="col pt-2">
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <p class="fw-bold"><i class="bi bi-git fs-5"></i>  Git</p>
            </div>
            <div class="col pt-2">
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</section>